{
    "peaking": {
        "lysine_digestible": 0.84,
        "methionine_digestible": 0.42,
        "cystine_digestible": 0.76,
        "threonine_digestible": 0.59,
        "tryptohan_digestible": 0.18,
        "arginine_digestible": 0.87,
        "isoleucine_digestible": 0.67,
        "valine_digestible": 0.74,
        "lysine_total": 0.92,
        "methionine_total": 0.45,
        "cystine_total": 0.86,
        "threonine_total": 0.69,
        "tryptohan_total": 0.21,
        "arginine_total": 0.94,
        "isoleucine_total": 0.72,
        "valine_total": 0.81,
        "crude_protein": 17.35,
        "sodium": 0.18,
        "chloride": 0.18,
        "linoleic_acid": 2.04,
        "choline": 1327
    },
    "layer_2": {
        "lysine_digestible": 0.73,
        "methionine_digestible": 0.36,
        "cystine_digestible": 0.66,
        "threonine_digestible": 0.51,
        "tryptohan_digestible": 0.15,
        "arginine_digestible": 0.76,
        "isoleucine_digestible": 0.58,
        "valine_digestible": 0.64,
        "lysine_total": 0.8,
        "methionine_total": 0.39,
        "cystine_total": 0.75,
        "threonine_total": 0.6,
        "tryptohan_total": 0.18,
        "arginine_total": 0.81,
        "isoleucine_total": 0.63,
        "valine_total": 0.71,
        "crude_protein": 15.23,
        "sodium": 0.16,
        "chloride": 0.16,
        "linoleic_acid": 1.82,
        "choline": 1182
    },
    "layer_3": {
        "lysine_digestible": 0.71,
        "methionine_digestible": 0.35,
        "cystine_digestible": 0.65,
        "threonine_digestible": 0.5,
        "tryptohan_digestible": 0.15,
        "arginine_digestible": 0.74,
        "isoleucine_digestible": 0.57,
        "valine_digestible": 0.62,
        "lysine_total": 0.78,
        "methionine_total": 0.38,
        "cystine_total": 0.73,
        "threonine_total": 0.58,
        "tryptohan_total": 0.18,
        "arginine_total": 0.79,
        "isoleucine_total": 0.61,
        "valine_total": 0.69,
        "crude_protein": 14.55,
        "sodium": 0.16,
        "chloride": 0.16,
        "linoleic_acid": 1.45,
        "choline": 1182
    },
    "layer_4": {
        "lysine_digestible": 0.7,
        "methionine_digestible": 0.35,
        "cystine_digestible": 0.63,
        "threonine_digestible": 0.49,
        "tryptohan_digestible": 0.15,
        "arginine_digestible": 0.72,
        "isoleucine_digestible": 0.56,
        "valine_digestible": 0.61,
        "lysine_total": 0.76,
        "methionine_total": 0.38,
        "cystine_total": 0.72,
        "threonine_total": 0.57,
        "tryptohan_total": 0.17,
        "arginine_total": 0.78,
        "isoleucine_total": 0.6,
        "valine_total": 0.68,
        "crude_protein": 14.22,
        "sodium": 0.17,
        "chloride": 0.17,
        "linoleic_acid": 1.38,
        "choline": 1193
    },
    "layer_5": {
        "lysine_digestible": 0.72,
        "methionine_digestible": 0.36,
        "cystine_digestible": 0.65,
        "threonine_digestible": 0.5,
        "tryptohan_digestible": 0.15,
        "arginine_digestible": 0.75,
        "isoleucine_digestible": 0.57,
        "valine_digestible": 0.63,
        "lysine_total": 0.75,
        "methionine_total": 0.37,
        "cystine_total": 0.7,
        "threonine_total": 0.56,
        "tryptohan_total": 0.17,
        "arginine_total": 0.77,
        "isoleucine_total": 0.59,
        "valine_total": 0.66,
        "crude_protein": 13.89,
        "sodium": 0.17,
        "chloride": 0.17,
        "linoleic_acid": 1.3,
        "choline": 1204
    }
}