{% extends "base.html" %}
<!-- {% block head %}
{% endblock %} -->
{% block title %}Calculate{% endblock %}
{% if user.is_authenticated %}
{% block name %}
{{ name }}
{% endblock %}
{% endif %}
{% block content %}
<br>
<h1 align="center">Calculate Here</h1>

<form method="POST">
    <br>
    <fieldset class="form-control" style="height: max-content;">
        <label for="animal-dropdown">Select animal</label>
        <select class="form-control" data-live-search="true" id="animal-dropdown" name="animal-dropdown">
            <option value="" selected disabled hidden>Choose here</option>
            <option id="hen" value="hen">Hen</option>
            <!-- <option id="Goat" value="goat">Goat</option> -->
        </select>
    </fieldset>

    <br>

    <fieldset class="form-control" style="height: max-content;">
        <label for="age-dropdown">Select age</label>
        <select class="form-control" data-live-search="true" name="age-dropdown" id="age-dropdown">
            <option value="" selected disabled hidden>Choose here (week/s)</option>
            {% for x in range(101) %}
            <option value="{{ x }}" name="age">{{ x }}</option>
            {% endfor %}
            <!-- <option value="1" name="age" >1</option>
        <option value="2" name="age" >2</option>
        <option value="3" name="age" >3</option>
        <option value="4" name="age" >4</option>
        <option value="5" name="age" >5</option>
        <option value="6" name="age" >6</option>
        <option value="7" name="age" >7</option> -->
        </select>
    </fieldset>
    <br>
    <div class="form-control" id="availableFeedContainer" style="width: auto; height:auto; align-items: center; padding: 2%">
        <fieldset class="form-control" data-live-search="true" style="height: max-content;" id="available-feeds">
            <legend>Select Available Feeds</legend>
            {% for each in data %}
            <div class="grid gap-3">

                <div class="p-2 g-col-6" style="width: 50%; float: left; padding: 20px;">
                    <input id="{{ each }}" name="available-feeds" type="checkbox" value="{{ each }}" onclick="myFunc('{{ each }}')"/>
                    <label for="{{ each }}">{{ each }}</label>
                </div>

                <div class="p-2 g-col-6" id="prices" style="width: 50%; float: left; padding: 20px;">
                    <label for="price_{{ each }}"> Price/kg: </label>
                    <input type="text" id="price_{{ each }}" name="price_container" value="">
                </div>

            </div>
            {% endfor %}
        </fieldset>
    </div>


<hr>

    <input class="btn btn-primary" type="submit" value="Submit"
        style="width:50%; height:2.5em; position: relative; left: 25%; margin-bottom: 1em;">
    <hr>
</form>


{% endblock %}