{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<br />
<br />
<h1 align="center">Welcome to the Veterenarian Dashboard</h1>
<br />
<h3 align="center">You are signed in.</h3>
<br />
<br />
<!-- <div class="shadow p-3 mb-5 bg-body-tertiary rounded">Regular shadow</div> -->
<!-- <div class="container shadow p-3 mb-5 bg-body-tertiary rounded"> -->
<table class="table table-striped table-hover shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Area</th>
            <th scope="col">Rating</th>
        </tr>
    </thead>
    {% for user in users %}
    <tbody>
        <tr>
            <td scope="row">{{ user.id }}</td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.contact_num }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.rating }}</td>

            <td>
                <a href="http://0.0.0.0:8080/vet/{{ user.id }}">
                    <button type="button" class="btn btn-info">View Profile</button></a>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
<br />
{% endblock %} {% block name %} {{ name }} {% endblock %}