{% extends "base.html" %} {% block title %}Profile{% endblock %} {% if
user.is_authenticated %} {% block name %} {{ obj.first_name }} {% endblock %} {%
endif %} {% block head %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" defer></script>
{% endblock %}
{% block content %}
<script defer>
    jQuery(document).ready(function ($) {

        $(".btnrating").on('click', (function (e) {

            var previous_value = $("#selected_rating").val();

            var selected_value = $(this).attr("data-attr");
            $("#selected_rating").val(selected_value);

            $(".selected-rating").empty();
            $(".selected-rating").html(selected_value);

            for (i = 1; i <= selected_value; ++i) {
                $("#rating-star-" + i).toggleClass('btn-warning');
                $("#rating-star-" + i).toggleClass('btn-default');
            }

            for (ix = 1; ix <= previous_value; ++ix) {
                $("#rating-star-" + ix).toggleClass('btn-warning');
                $("#rating-star-" + ix).toggleClass('btn-default');
            }

        }));


    });

    function ratingg() {
        btn = document.getElementById("rating_btn");
        btn.disabled = true;
        container = document.getElementById("rating_container");
        container.hidden = false;
    }
</script>
<style>
    .rating-header {
        margin-top: -10px;
        margin-bottom: 10px;
    }
</style>
<br />
<h3 align="center">Veterenarian Information</h3>
<br />
<form action="#" method="post">
    <div class="form-group">
        <fieldset>
            <label for="name">
                <b>Name: </b>
            </label>
            <p class="form-control" id="name">{{obj.first_name}} {{obj.last_name}}</p>

            <label for="email">
                <b>Email: </b>
            </label>

            <p class="form-control" id="email">{{obj.email}}</p>

            <label for="conatact_no">
                <b>Contact No: </b>
            </label>
            <p class="form-control" id="conatact_no">{{obj.contact_num}}</p>

            <label for="address">
                <b>Address: </b>
            </label>
            <p class="form-control" id="address">{{obj.address}}</p>

            <label for="rating">
                <b>Rating: </b>
            </label>

            <p class="form-control" id="rating">{{ "%0.2f" | format(obj.rating | float) }}</p>

            <button class="btn btn-secondary" type="button" id="rating_btn" onclick="ratingg()">
                Review
            </button>
            <br /><br />
            <div id="rating_container" class="rating" style="max-height: fit-content;" hidden>
                <div class="form-group" id="rating-ability-wrapper">
                    <label class="control-label" for="rating">
                        <span class="field-label-header">Share your experience with this vet</span><br>
                        <span class="field-label-info"></span>
                        <input type="hidden" id="selected_rating" name="selected_rating" value="0" required="required">
                    </label>
                    <h2 class="bold rating-header">
                        <span class="selected-rating">0</span><small> / 5</small>
                    </h2>
                    <button name="rate" type="submit" class="btnrating btn btn-default btn-lg" data-attr="1"
                        id="rating-star-1" value="1" onclick="">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button name="rate" type="submit" class="btnrating btn btn-default btn-lg" data-attr="2"
                        id="rating-star-2" value="2" onclick="">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button name="rate" type="submit" class="btnrating btn btn-default btn-lg" data-attr="3"
                        id="rating-star-3" value="3" onclick="">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button name="rate" type="submit" class="btnrating btn btn-default btn-lg" data-attr="4"
                        id="rating-star-4" value="4" onclick="">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                    <button name="rate" type="submit" class="btnrating btn btn-default btn-lg" data-attr="5"
                        id="rating-star-5" value="5" onclick="">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</form>

{% endblock %}